.app .holder form{
  display: inline-block;
}

.app .holder {
  width: 700px;
  margin: 0 auto;
}

.app {
  padding: 10px;
  border: 1px solid grey;
  width: auto;
  background-color: bisque;
  margin: 50px auto;
}

.app .holder form .textInput {
  height: 30px;
  margin: 10px;
  width: 300px;
  font-size: 25px;
  text-align: center;
}