.app .holder form{
  display: inline-block;
  
}

.app .holder {
  width: 700px;
  margin: 0 auto;
}

.app {
  padding: 10px;
  border: 1px solid grey;
  width: auto;
  background-color: bisque;
  margin: 50px auto;
}

.app .holder form .textInput, .app .holder form select {
  height: 30px;
  margin: 10px;
  min-width: 200px;
  font-size: 20px;
  text-align: center;
}